body {
  font-family: 'Bree Serif', serif;
  color: #060;
  overflow: hidden;
}
.whole-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}
.nav-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.rest-screen {
  width: 80%;
  height: 100%;
  margin: 0;
}
.menu {
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-top: none;
  border-right: none;
}
.cart {
  height: 40%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.logo {
  min-height: 20%;
  width: 100%;
  background-image: url("./images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.categories {
  width: 100%;
  text-align: center;
}
.category:hover {
  box-shadow: 5px 5px 40px #888888;
}
.category img {
  width: 40%;
}
.category h3 {
  margin-top: 0;
  margin-bottom: 30px;
}
.item {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.item img {
  width: 60%;
}
.item h4 {
  font-size: 1em;
}
.item:hover {
  box-shadow: 5px 5px 40px #888888;
}
.menuheader {
  margin-left: 20px;
  margin-top: 25px;
}
.cart-item {
  width: 19%;
  height: auto;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  position: relative;
  animation-name: cart-ani;
  animation-duration: 0.6s;
}
.cart-item img {
  width: 35%;
}
.count {
  position: absolute;
  left: 25%;
  top: 0;
}
.remove{
  position: absolute;
  right: 25%;
  top: 0;
  color: red;
}
@keyframes cart-ani {
  0% {opacity:0;transform: translateX(-400%);}
  50% {opacity:0;}
  100% {transform: translateX(0);}
}
